.fontSize {
  min-height: 10vh;
}

.btn{
  min-height: 4vh;
  min-width: 8vh;
  padding: 5px;
  color: white;
  margin: 10px;
  border-radius: 0px;
  border: none;
  font-weight: 400;
  font-size: medium;
}
.more_btn{
  background-color: #99703f;
}

.less_btn{
  background-color: #ccc;
}
